.login__card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
}

.input {
    margin: 12px;
    width: 60%;
}